<html>

<head>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
  <link rel="stylesheet" href="stylesheets/categories.css">
</head>

<body>
  <% include ../partials/header %>
    <div id="category-page" class="container-fluid">
      <div class="row">
        <div class="col-md-12 assets-box">
          <div class="holder" tabindex='-1'>
            <a href="/categories/branded" class="item">
                <img class='hero' src="images/branded/branded-hero.jpg" alt="">
                <h2 class="caption">Branded</h2>
              </a>
            <a href="/categories/diary" class="item">
                <img class='hero' src="images/diary/diary-hero.jpg">
                <h2 class="caption">Diary</h2>
              </a>
            <a href="/categories/editorial" class="item">
                <img class='hero' src="images/editorial/editorial-hero.jpg">
                <h2 class="caption">Editorial</h2>
              </a>
            <a href="/categories/events" class="item">
                <img class='hero' src="images/events/event-hero.jpg">
                <h2 class="caption">Events</h2>
              </a>
            <a href="/categories/food" class="item">
                <img class='hero' src="images/food/food-hero.jpg">
                <h2 class="caption">Food</h2>
              </a>
            <a href="/categories/travel" class="item">
                <img class='hero' src="images/travel/travel-hero.jpg">
                <h2 class="caption">Travel</h2>
              </a>
            <a href="/about" class="item">
                <img class='hero' src="images/about/about.jpg" alt="">
                <h2 class="caption">About</h2>
              </a>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript">
      window.onload = function() {
        $('.holder').focus();
      };
    </script>
</body>

</html>
