body {
}

.hero {
  max-width: 100%;
}

.mid-holder {
  margin: 10px !important;
}
#category-page {
  margin-top: 2em;
  height: 100%;
}
.slick-prev:before, .slick-next:before {
  color: black !important;
}

.title {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 2em;
}
