body {
  padding: 0;
}

h3 {
  display: inline-block;
  margin: 0 auto;
  bottom: 50em !important;
  font-size: 5em !important;
  font-family: 'Archivo Black', sans-serif;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-caption{
  bottom: 40% !important;
}
