body {
  background-color: black !important;
}

#centre-piece {
  text-align: center;
  position: relative;
}

#centre-content {
  position: absolute;
}

#centre-piece img {
  height: 100%
}

#enter-button {
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#enter-button:hover {
  cursor: pointer;
  text-decoration: none;
  text-decoration: line-through;
  color: white;
}

#enter-button:active {
  mix-blend-mode: exclusion;
}

.overlay-text {
  color: white;
  position: absolute;
  font-size: 5em;
  top: 4em;
  left: 0;
  right: 2.4em;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  text-align: center;
  font-family: 'ArcaMajora3', sans-serif;
}
